.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 8vh;
    width: 100%;
    border-top: 1px solid lightgrey;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

#footer-content {
    color: #02a95c;
    font-size: 15px;
    text-indent: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#footer-content:hover {
    color: #049451;
}

#footer-icon {
    padding-right: 5px;

}
