* {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
}

/* button:focus {
  text-decoration: 2px solid underline;
  text-decoration-color: #02a95c;
} */
