.donate-form {
  font-family: Arial, Helvetica, sans-serif;
}

.donation-number,
.donation-comment {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submit-button-donate,
.cancel-button-donate{
  background-color:#00bc5e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.submit-button-donate:hover,
.cancel-button-donate:hover {
  opacity: 0.8;
}

.donate-errors {
  color: red;
}
