.searchBar-container {
  width: 100%;
  padding: 0px;
  /* margin: 0px 5%; */
}

.searchBar-input {
  padding: 0.5rem;
  margin: 2rem;
  /* margin-left: 2.5%; */
  width: 95%;
}

.searchBar-matches {
  list-style-type: none;
  margin: 2rem;
}
