.homePage {
    height: 200vh;
    width: 99vw;
}

.homePage-image {
    height: 65vh;
    width: 99vw;
    margin: 0;
    padding: 0;
}

.homePage-description-box {
    height: 25%;
    width: 65%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    position: absolute;
    top: 55%;
    left:17.5%;
    background-color: white;
    border-radius: 10px;
    box-shadow:3px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.homePage-description-image {
  grid-column-start: 1;
  grid-row-start: 1;
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 10px 0 40% 10px;
}

.homePage-grid {
    height: 100%;
    width: 55%;
    margin-top: 10%;
    margin-left: 22.5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 8.3% 25% 8.3% 25% 8.3%;
}

html:not([data-scroll="0"]) .navBar {
  background-color: #fff;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

html:not([data-scroll="0"]) .navBar-home {
    color: #02a95c;
}

html:not([data-scroll="0"]) .navBar-logo {
    filter:none;
}

.navBar-home {
    display: inline-flex;
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
}

.navBar {
  box-sizing: border-box;
  padding: 1em;
  transition: background-color 0.25s;
}
