.form {
  padding: 2rem;
}

.formField {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.closeBtn {
  margin-bottom: 0.5rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.submitBtn {
  padding: 0.35rem;
  border-radius: 0.5rem;
  width: 75%;
  background-color: rgba(0, 0, 0, 0)
}

.submitBtn:hover {
  border-color: #02a95c;
}
