.navBar {
    height: 7%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: white;
    position: fixed;
    border-bottom: 1px solid lightgrey;
    z-index: 1;
}

.navBar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navBar-home {
    display: inline-flex;
    text-decoration: none;
    color: #02a95c;
    font-size: 1.75rem;
}

.navBar-logo {
    padding-top: 3%;
    height: 1.5rem;
    padding-left: 1%;
}
