.navBar {
    height: 5%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    position: fixed;
    border-bottom: 1px solid lightgrey;
    z-index: 1;
}

.navBar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
