.navBar {
    height: 7%;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    z-index: 1;
}

.navBar-first-fraction {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navBar-second-fraction {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar-third-fraction {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar-home {
    display: inline-flex;
    text-decoration: none;
    color: #02a95c;
    font-size: 1.75rem;
}

.navBar-logo {
    padding-top: 3%;
    height: 1.5rem;
    padding-left: 1%;
}
