.thumbnail > img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.image-description-container {
  max-width: 100%;
  max-height: 100%;
}

.images-in-description {
  max-width: 100%;
  max-height: 100%;
}

.logoBackground {
  padding: 5px 5px 0px 5px;
  border-radius: 50%;
  border: 3px solid #02a95c;
}

.grid-div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}

.project-container {
  margin-top: 50px;
  background-color: #edeef0;
}

.projectHeader {
  grid-area: projectHeader;
  text-align: left;
  margin-top: 80px;
}

.organizer {
  grid-area: organizer;
  font-size: 16px;
  padding: 1em 0em;
  margin: 0em 1em;
  background-color: #02a95c;
  vertical-align: center;
  border-radius: 99vw;
  border: 3px solid #02a95c;
  color: white;
}

.description {
  grid-area: description;
  line-height: 1.5em;
  margin: 1em 0em;
  font-size: 20px;
}
.projectImage {
  grid-area: projectImage;
  padding: none;
}
.donations {
  grid-area: donations;
}
.comments {
  grid-area: comments;
}

#donations-slider {
  padding: 0;
}

.footer {
  grid-area: footer;
  background-color: #edeef0;
}

.editYourProject-buttonDiv {
  grid-area: editYourProject-buttonDiv;
  /* background-color: #02a95c; */
}

.editYourProject-button {
  margin-top: 8%;
  height: 50px;
  width: 80%;
  font-size: 22px;
  color: white;
  border-width: 2px;
  background-color: #02a95c;
  border-color: #02a95c;
  border-radius: 5px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.editYourProject-button:hover {
  background-color: #049451;
}

.grid-container {
  display: grid;
  width: 60.7%;
  /* margin: 0 auto; */

  margin-left: 17.5%;
  min-width: 800px;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.75fr 0.75fr;
  grid-template-areas:
    "projectHeader projectHeader projectHeader projectHeader projectHeader projectHeader"
    "projectImage projectImage projectImage projectImage donations donations"
    "spacer organizer organizer editYourProject-buttonDiv donations donations"
    "description description description description donations donations"
    "comments comments comments comments donations donations"
    "footer footer footer footer footer footer";
  grid-gap: 20px;
  padding: 20px;
  background-color: white;
}

.sticky-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  background: white;
  width: 300px;
  /* width:100%;? */
  /* height: 460px; */
  top: 100px;
  border-radius: 5px;
  box-shadow: 0 0.3125rem 1rem 0.1875rem rgb(0 0 0 / 20%);
  padding-bottom: 15px;
}

.donations-box-header {
  padding-top: 15px;
}

#projectCard-amount-projectPage {
  font-weight: 550;
  padding-top: 8%;
  font-size: 18px;
  color: black;
}

#meter-productPage {
  box-sizing: content-box;
  height: 10px; /* Can be anything */
  position: relative;
  margin-top: 2%; /* Just for demo spacing */
  background: rgb(214, 214, 214);
  border-radius: 10px;
  width: 80%;
}

#meter-productPage > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #02a95c;
  background-image: linear-gradient(center bottom, #02a95c 100%, #02a95c 100%);
  /* box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4); */
  position: relative;
  overflow: hidden;
}
#meter-productPage > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 8s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.numberOfDonators {
  margin-top: 8%;
  display: inline-flex;
}

.numberOfDonators-text {
  font-size: 25px;
  font-weight: bold;
}

.comment-avatar-sticky {
  display: flex;
}

.donate-box-button {
  margin-top: 8%;
  height: 50px;
  width: 80%;
  font-size: 22px;
  color: white;
  border-width: 2px;
  background-color: #02a95c;
  border-color: #02a95c;
  border-radius: 5px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.donate-box-button:hover {
  background-color: #049451;
}

.top-donors {
  margin-top: 6%;
  font-size: 25px;
  text-decoration: underline;
  text-decoration-color: 2px solid black;
}

.logoBackground-sticky {
  margin-top: 15px;
  margin-right: 5px;
  margin-left: 45px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 3px solid #02a95c;
}
.sticky-logo {
  padding-top: 4px;
  height: 25px;
  width: 25px;
}

.top-donor-name {
  margin-top: 20px;
  font-size: 25px;
}

.top-donors-container {
  width: 100%;
}

.comment-avatar {
  grid-area: comment-avatar;
  padding-top: 1em;
}

.comment-header {
  grid-area: comment-header;
}

.comment-content {
  grid-area: comment-content;
}

.spacer {
  grid-area: spacer;
}

.comment-footer {
  grid-area: comment-footer;
  padding: 1em;
}

.comment-header,
.comment-content {
  padding: 1em;
}

.donation-container {
  display: grid;
  grid-template-areas:
    "comment-avatar comment-header"
    "comment-avatar comment-content"
    "spacer comment-footer";

  grid-template-columns: 56px 1fr;
  grid-template-rows: auto;
  grid-row-gap: 0.5rem;
  grid-column-gap: 1rem;
  text-align: left;
  margin-top: 2em;
  border-bottom: 2px solid grey;
  padding-bottom: 2em;
}

.donation-listItem {
  list-style-type: none;
}

.userProfilePicture {
  display: inline-block;
}

.comments-header {
  text-align: left;
  padding-bottom: 0.5em;
}

.editComment-button {
  background-color: #02a95c;
  color: white;
  padding: 7px;
  border: none;
  border-radius: 3px;
}

.donations-ul {
  border-top: 2px solid grey;
}

/* .projectHeader > h1,
.grid-div,
.comment-content,
.comment-header,
.comments-header,
.description {
  font-family: "Lato", sans-serif;
} */

.bold {
  font-weight: bold;
  /* letter-spacing: 1px; */
}
